@page
@model TagHelpers.Pages.Demo.IndexModel
<div class="text-center">
  <h1 class="display-4">Demo page</h1>
  <p>Welcome to the demo page. Go <a asp-page="@SitePages.Index">back to the home page</a></p>
</div>
